ScoreIndicator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10vh;
    height: 5vh;
    background-color: white;
}

.scoreIndicatorLabel {
    width: 100%;
    height: 100%;
    font-family: Poppins;

}